body {
    margin: 0;
    padding: 0;
    background-color: #D9E4D7;
}


.navbar {
    z-index: 1; /*keeps it in front*/
    background-color:#324d3e;
    width: 972px;
    height: 67px;
    left: 154px;
    top: 40px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    /* set the border radius */
    border-radius: 30px;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);


}

.nav-menu {
    display: flex;
    gap: 25px;
} 

.navbar ul {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #EEE4E0;
    font-weight: normal;

    /* set font type */
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #2B4336;
}


.box-head {
    position: absolute;
    width: 850px;
    height: 650px;
    right: -30px;
    top: 158px;

    background: #8EA48B;
    border-radius: 90px;
    font-family: 'Mitr', sans-serif;

    display: flex;               
    flex-direction: column;      
    justify-content: center;      /* Vertically center */
    align-items: flex-start;      /* Left align horizontally */
    padding-left: 50px;      

    /* translate to  position within page*/
    /* transform: translate(300px); */

}
#subheader {
    /* SAN DIEGO STATE UNIVERSITY CHAPTER */

    position: absolute;
    width: 537.98px;
    height: 41.96px;
    left: 60px;
    top: 90px;

    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;

    color: #3D1F12;


}

#header {
    /* Society of Asian Scientists & Engineers */

    position: absolute;
    width: 600.36px;
    height: auto;
    bottom: 0px;
    left: 60px;

    font-family: 'AMORIA';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 77px;
    display: flex;
    align-items: flex-end;

    color: #4A2F24;


}

.box-title {
    position: absolute;
    width: 770px;
    height: 208px;
    left: 10%;
    top: 1100px;

    background: #728A6E;
    color: #4A2F24;
    font-family: 'Krona One', sans-serif;
    font-size: 36px;

    display: flex;
    flex-direction: column;      
    justify-content: center;      /* Vertically center */
    align-items: flex-start;      /* Left align horizontally */
    padding-left: 40px;  
    border-radius: 50px;
}

.box-title p {
    width: 550px;
}

/* need to be fixed */
#sase-img1 {
    /* position: absolute;
    width: 568.98px;
    height: 715.43px;
    left: -14px;
    top: -99px;

    border: 26px solid #84634A;
    border-radius: 50px;
    transform: matrix(0.94, -0.33, 0.36, 0.93, 0, 0); */

    position: absolute;
    width: 568.98px;
    height: auto;
    left: 500px;
    top: 40px;
    z-index:  -1;
    transform: scale(1.25)

}

#sase-img2 {
    /* Group 1 */
    position: absolute;
    width: 800px;
    height: 800px;
    left: -150px;
    top: 350px;

    transform: scale(1.25);
    z-index: -1;
}

#mission-statement {
    position: absolute;
    width: 885px;
    height: 420px;
    left: 310px;
    top: 1450px;
    

    background: #BECFBB;
    border-radius: 30px;

    color: #3D1F12;
    font-size: 32px;
    font-family: 'Mitr', 'sans-serif';

    display: flex;
    flex-direction: column;      
    justify-content: center;      
    align-items: center;   
    padding-left: 30px;
    padding-right: 30px;

}

#about-header {
    position: absolute;
    width: 655px;
    height: 208px;
    left: 80px;
    top: 2060px;
    
    background: #728A6E;
    color: #4A2F24;
    font-family: 'Krona One', sans-serif;
    font-size: 48px;
    border-radius: 90px; 

    /* center everything */
    display: flex;
    flex-direction: column;      
    justify-content: center;      /* Vertically center */
    align-items: flex-start;      /* Left align horizontally */
    padding-left: 40px;
    
}

#about-desc {
    position: absolute;
    width: 1070px;
    height: 400px;
    left: 555px;
    top: 2160px;

    background: #5B5656;
    color: #EEE4E0;
    font-family: 'Mitr', sans-serif;
    font-size: 32px;


    display: flex;  
    justify-content: flex-start;      /* Vertically center */
    align-items: center;     /* Left align horizontally */
    border-radius: 50px;
    padding: 50px;
}

#learn-more {
    position: absolute;
    width: 480px;
    height: 139px;
    left: 140px;
    top: 2550px;
    background: #8EA48B;
    color: #4A2F24;
    border-radius: 50px;
    font-family: 'Mitr', sans-serif;
    font-size: 28px;

    display: flex;
    flex-direction: column;      
    justify-content: center;      /* Vertically center */
    align-items: center;     /* center horizontally */
    

}

#learn-more a {
    color: #2B4336;
}

#mission-statement p {
    padding: 30px;
}

#team {
    position: absolute;
    top: 1150px;
    left: 950px;
    width: 700px;
    border-radius: 60px;
}

#core {
    position: absolute;
    left: 20%;
    top: 2844px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#core-header {
    width: 600px;
    height: 140px;
    left: 30%;

    background: #728A6E;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;

    color: #4A2F24;

}


#core-values1 {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#core-values2 {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.core-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    margin-left: 20px;
    right: auto;
}

.core-item img{
    width: 207px;
}

.core-item h3 {
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #324D3E;
}

.core-item p {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    margin-top: 0px;

    color: #4A2F24;


}

/*.footer {
    background-color: #324d3e;  
    display: flex;
    padding: 20px;
} */




