

/* ADD SOME DEFAULT STYLING*/

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #1d1773;
    color: white;
    position: fixed;
    left:0;
    top: 0;
    width:100%;
    z-index: 1000;
    flex-wrap:wrap;
}

.nav-bar a {
    color: white; /* Ensure links are visible */
    text-decoration: none; /* Remove underline from links */
    margin: 0 10px;
}

.nav-bar a:hover {
    text-decoration: underline; /* Add underline on hover for better UX */
}

.headers {
   display: flex;
    gap: 2rem; /* Adjust spacing as needed */
  align-items: center;
}
